/.vscode/**
/prebuilt/**
/*ndk
/build/**
/src/**/.vscode/**
/src/**/*.pb.cc
/src/**/*.pb.h
/src/dtc/dtc-lexer.l
/src/dtc/dtc-parser.y
/src/dtc/dtc-parser.h
/src/zlib/zconf.h
/src/erofs-utils/erofs-utils-version.h
/src/e2fsextract/version.h
*.tar.xz
*.zip